lib/src/main/resources/md/emd/2017/09/emd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2012 DANS - Data Archiving and Networked Services (info@dans.knaw.nl)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://easy.dans.knaw.nl/easy/easymetadata/"
    xmlns:emd="http://easy.dans.knaw.nl/easy/easymetadata/"
    xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:eas="http://easy.dans.knaw.nl/easy/easymetadata/eas/" elementFormDefault="qualified" attributeFormDefault="qualified">

    <xs:import schemaLocation="http://easy.dans.knaw.nl/schemas/md/emd/2017/09/sdc.xsd" namespace="http://purl.org/dc/elements/1.1/"/>
    <xs:import schemaLocation="http://easy.dans.knaw.nl/schemas/md/emd/2017/09/qdc.xsd" namespace="http://purl.org/dc/terms/"/>
    <xs:import schemaLocation="http://easy.dans.knaw.nl/schemas/md/emd/2017/09/eas.xsd" namespace="http://easy.dans.knaw.nl/easy/easymetadata/eas/"/>

    <xs:element name="easymetadata">
        <xs:annotation>
            <xs:documentation> Adhering to standards and at the same time satisfying the needs of an
                application can be in conflict. Well categorized data can be reorganized and
                transformed. </xs:documentation>
            <xs:documentation>
                <definition>Easymetadata provides containers that enable the categorization of
                    metadata according to the well defined Dublin Core standards and that offer at
                    the same time the freedom to model the data in a way that suites the needs of
                    the Easy application.</definition>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="emd:title" minOccurs="0"/>
                <xs:element ref="emd:creator" minOccurs="0"/>
                <xs:element ref="emd:subject" minOccurs="0"/>
                <xs:element ref="emd:description" minOccurs="0"/>
                <xs:element ref="emd:publisher" minOccurs="0"/>
                <xs:element ref="emd:contributor" minOccurs="0"/>
                <xs:element ref="emd:date" minOccurs="0"/>
                <xs:element ref="emd:type" minOccurs="0"/>
                <xs:element ref="emd:format" minOccurs="0"/>
                <xs:element ref="emd:identifier" minOccurs="0"/>
                <xs:element ref="emd:source" minOccurs="0"/>
                <xs:element ref="emd:language" minOccurs="0"/>
                <xs:element ref="emd:relation" minOccurs="0"/>
                <xs:element ref="emd:coverage" minOccurs="0"/>
                <xs:element ref="emd:rights" minOccurs="0"/>
                <xs:element ref="emd:audience" minOccurs="0"/>
                <xs:element ref="emd:other" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="title">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:title" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:alternative" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="creator">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:creator" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:creator" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="subject">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:subject" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="description">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:description" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:tableOfContents" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:abstract" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="publisher">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:publisher" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="contributor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:contributor" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:contributor" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="date">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:date" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:created" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:valid" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:available" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:issued" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:modified" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:dateAccepted" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:dateCopyrighted" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:dateSubmitted" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:date" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:created" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:valid" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:available" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:issued" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:modified" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:dateAccepted" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:dateCopyrighted" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:dateSubmitted" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="type">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:type" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="format">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:format" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:extent" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:medium" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="identifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:identifier" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="source">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:source" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="language">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:language" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="relation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:relation" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:conformsTo" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:isVersionOf" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:hasVersion" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:isReplacedBy" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:replaces" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:isRequiredBy" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:requires" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:isPartOf" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:hasPart" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:isReferencedBy" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:references" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:isFormatOf" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:hasFormat" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:relation" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:conformsTo" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:isVersionOf" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:hasVersion" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:isReplacedBy" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:replaces" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:isRequiredBy" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:requires" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:isPartOf" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:hasPart" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:isReferencedBy" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:references" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:isFormatOf" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:hasFormat" maxOccurs="unbounded" minOccurs="0"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="coverage">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:coverage" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:spatial" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:temporal" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:spatial" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="rights">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dc:rights" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:accessRights" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:license" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dcterms:rightsHolder" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="audience">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dcterms:audience" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="other">
        <xs:annotation>
            <xs:documentation xml:lang="eng-usa">
                <definition>Anything that can't be expressed in the Dublin Core Metadata Element
                    Set, nor in the additional elements from the DCMI Metadata Terms. </definition>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="eas:remark" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="eas:application-specific" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="eas:etc" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
