lib/src/main/resources/md/emd/2020/03/eas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2012 DANS - Data Archiving and Networked Services (info@dans.knaw.nl)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://easy.dans.knaw.nl/easy/easymetadata/eas/"
    xmlns:eas="http://easy.dans.knaw.nl/easy/easymetadata/eas/"
    xmlns:datacite="http://datacite.org/schema/kernel-4"
    xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified" attributeFormDefault="qualified">

    <xs:annotation>
        <xs:documentation xml:lang="en">EASY Metadata (EMD)

            This schema specifies a metadata-format for describing datasets in the internal format of EASY.
            An instance of this metadata-format is used for internal storage in Fedora.

            Created 2012-11
            Last modified 2020-03-23
            
            Change since 2019-01-11
            * Add role 'Funder' to contributor types

            Change since 2018/04
            * Add element organizationId to the authorType

            Change since 2019/12
            * Allow element entityId to be present unbounded times

            Copyright (c) 2012 DANS-KNAW
        </xs:documentation>
    </xs:annotation>

    <xs:import schemaLocation="xml.xsd"
        namespace="http://www.w3.org/XML/1998/namespace"/>
    <xs:import schemaLocation="https://schema.datacite.org/meta/kernel-4/metadata.xsd"
        namespace="http://datacite.org/schema/kernel-4"/>


    <xs:annotation>
        <xs:documentation xml:lang="eng-usa">Element and Attribute Sets (eas) to ease the encoding
            of easymetadata.</xs:documentation>
    </xs:annotation>

    <xs:simpleType name="date-scheme">
        <xs:restriction base="xs:token">
            <xs:enumeration value="Period">
                <xs:annotation>
                    <xs:documentation
                        source="https://dublincore.org/documents/2000/07/11/dcmes-qualifiers/#date">
                        <definition>A specification of the limits of a time interval.</definition>
                        <see-also>https://dublincore.org/documents/dcmi-period/</see-also>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="W3CDTF">
                <xs:annotation>
                    <xs:documentation
                        source="https://dublincore.org/documents/2000/07/11/dcmes-qualifiers/#date">
                        <definition>W3C Encoding rules for dates and times - a profile based on ISO
                            8601</definition>
                        <see-also>http://www.w3.org/TR/NOTE-datetime</see-also>
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="date-format">
        <xs:restriction base="xs:token">
            <xs:enumeration value="MILLISECOND"/>
            <xs:enumeration value="SECOND"/>
            <xs:enumeration value="MINUTE"/>
            <xs:enumeration value="HOUR"/>
            <xs:enumeration value="DAY"/>
            <xs:enumeration value="MONTH"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="identification-system" type="xs:anyURI">
        <xs:annotation>
            <xs:documentation>
                <definition>The formal identification system.</definition>
            </xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <xs:complexType name="language-tokenized-string">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang"/>
                <xs:attribute name="schemeId" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="basic-stringtype">
        <xs:simpleContent>
            <xs:extension base="eas:language-tokenized-string">
                <xs:attribute name="scheme" type="xs:token"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="basic-datetype">
        <xs:simpleContent>
            <xs:extension base="eas:language-tokenized-string">
                <xs:attribute name="scheme" type="eas:date-scheme"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="datetype">
        <xs:simpleContent>
            <xs:extension base="xs:dateTime">
                <xs:attribute name="scheme" type="eas:date-scheme" fixed="W3CDTF" use="required"/>
                <xs:attribute name="schemeId" type="xs:string"/>
                <xs:attribute name="format" type="eas:date-format" default="DAY"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="basic-identifiertype">
        <xs:simpleContent>
            <xs:extension base="eas:language-tokenized-string">
                <xs:attribute name="scheme" type="xs:token" default="URI"/>
                <xs:attribute ref="eas:identification-system"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="relationtype">
        <xs:sequence>
            <xs:element name="subject-title" type="eas:basic-stringtype" minOccurs="0"/>
            <xs:element name="subject-identifier" type="eas:basic-identifiertype" minOccurs="0"/>
            <xs:element name="subject-link" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="emphasis" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:complexType name="authortype">
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="initials" type="xs:string" minOccurs="0"/>
            <xs:element name="prefix" type="xs:string" minOccurs="0"/>
            <xs:element name="surname" type="xs:string" minOccurs="0"/>
            <xs:element name="organization" type="xs:string" minOccurs="0"/>
            <xs:element name="organizationId" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute ref="eas:identification-system"/>
                            <xs:attribute name="scheme" type="xs:string" default="ISNI"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="entityId" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute ref="eas:identification-system"/>
                            <xs:attribute name="scheme" type="xs:string" default="DAI"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="role" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="eas:contributorRoles">
                            <xs:attribute name="scheme" use="required" type="eas:contributorRolesSchemes"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Additionalroles">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="Funder"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="contributorRoles">
        <xs:union memberTypes="eas:Additionalroles datacite:contributorType"/>
    </xs:simpleType>

    <xs:simpleType name="contributorRolesSchemes">
        <xs:restriction base="xs:normalizedString">
            <xs:enumeration value="DATACITE"/>
            <xs:enumeration value="EASY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="point">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="x" type="xs:string" minOccurs="0"/>
                <xs:element name="y" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="scheme" type="xs:token"/>
            <xs:attribute name="schemeId" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="box">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="north" type="xs:string" minOccurs="0"/>
                <xs:element name="east" type="xs:string" minOccurs="0"/>
                <xs:element name="south" type="xs:string" minOccurs="0"/>
                <xs:element name="west" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="scheme" type="xs:token"/>
            <xs:attribute name="schemeId" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="polygon">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="place" type="xs:string" minOccurs="0"/>
                <xs:element ref="eas:polygon-exterior" minOccurs="0"/>
                <xs:element ref="eas:polygon-interior" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="scheme" type="xs:token"/>
            <xs:attribute name="schemeId" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="polygon-exterior" type="eas:PolygonPartType"/>
    <xs:element name="polygon-interior" type="eas:PolygonPartType"/>

    <xs:complexType name="PolygonPartType">
        <xs:sequence>
            <xs:element name="place" type="xs:string" minOccurs="0"/>
            <xs:element ref="eas:polygon-point" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="polygon-point">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="x" type="xs:string"/>
                <xs:element name="y" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="spatialtype">
        <xs:sequence>
            <xs:element name="place" type="eas:basic-stringtype" maxOccurs="1" minOccurs="0"/>
            <xs:choice>
                <xs:element ref="eas:point" minOccurs="0"/>
                <xs:element ref="eas:box" minOccurs="0"/>
                <xs:element ref="eas:polygon" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="metadataformattype">
        <xs:annotation>
            <xs:documentation xml:lang="eng-usa">Type of deposit form used when the dataset was created.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="UNSPECIFIED">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Deprecated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SOCIOLOGY">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Deprecated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARCHAEOLOGY">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Deprecated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HISTORY">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Deprecated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LANGUAGE_LITERATURE">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Deprecated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIFESCIENCE">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Deprecated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ANY_DISCIPLINE">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Single deposit form for all disciplines.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="pakbonstatustype">
        <xs:restriction base="xs:token">
            <xs:enumeration value="NOT_IMPORTED"/>
            <xs:enumeration value="IMPORTED"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="archivelocation">
        <xs:restriction base="xs:token">
            <xs:enumeration value="EASY">
                <xs:annotation>
                    <xs:documentation xml:lang="eng-usa">Data and metadata are archived in EASY.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DATAVAULT">
            <xs:annotation>
                <xs:documentation xml:lang="eng-usa">Data and metadata are archived in the DATAVAULT.
                    There may be dissemination copies in EASY.</xs:documentation>
            </xs:annotation>
        </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="archivetype">
        <xs:annotation>
            <xs:documentation xml:lang="eng-usa">Denotes the way the dataset is archived.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="location" type="eas:archivelocation" default="EASY"/>
    </xs:complexType>


    <xs:element name="creator" type="eas:authortype"/>

    <xs:element name="contributor" type="eas:authortype"/>

    <!-- date extensions -->

    <xs:element name="date" type="eas:datetype"/>
    <xs:element name="created" type="eas:datetype"/>
    <xs:element name="valid" type="eas:datetype"/>
    <xs:element name="available" type="eas:datetype"/>
    <xs:element name="issued" type="eas:datetype"/>
    <xs:element name="modified" type="eas:datetype"/>
    <xs:element name="dateAccepted" type="eas:datetype"/>
    <xs:element name="dateCopyrighted" type="eas:datetype"/>
    <xs:element name="dateSubmitted" type="eas:datetype"/>

    <!-- relation extensions -->

    <xs:element name="relation" type="eas:relationtype"/>
    <xs:element name="conformsTo" type="eas:relationtype"/>
    <xs:element name="isVersionOf" type="eas:relationtype"/>
    <xs:element name="hasVersion" type="eas:relationtype"/>
    <xs:element name="isReplacedBy" type="eas:relationtype"/>
    <xs:element name="replaces" type="eas:relationtype"/>
    <xs:element name="isRequiredBy" type="eas:relationtype"/>
    <xs:element name="requires" type="eas:relationtype"/>
    <xs:element name="isPartOf" type="eas:relationtype"/>
    <xs:element name="hasPart" type="eas:relationtype"/>
    <xs:element name="isReferencedBy" type="eas:relationtype"/>
    <xs:element name="references" type="eas:relationtype"/>
    <xs:element name="isFormatOf" type="eas:relationtype"/>
    <xs:element name="hasFormat" type="eas:relationtype"/>

    <!-- coverage extensions -->

    <xs:element name="spatial" type="eas:spatialtype"/>


    <!--                    -->

    <xs:element name="remark">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="eas:basic-stringtype">
                    <xs:attribute name="author"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="application-specific">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadataformat" type="eas:metadataformattype" default="UNSPECIFIED" maxOccurs="1" minOccurs="0"/>
                <xs:element name="pakbon-status"  type="eas:pakbonstatustype" default="NOT_IMPORTED" maxOccurs="1" minOccurs="0"/>
                <xs:element name="archive"  type="eas:archivetype" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="etc">
        <!-- pass in any element -->
    </xs:element>

</xs:schema>
